<%- include('./partials/header') %> 

<% if(success.length>0){ %>
<div
  class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500"
>
  <span class="inline-block mt-1 mb-1 text-white"> <%= success %> </span>
</div>
<% } %>

<div class="h-screen font-[poppins] flex flex-col">
  <div class="container flex  flex-grow">
    <div class="w-[25%] flex h-screen flex-col items-start bg-gray-400 md:block hidden ">
      <div class="flex flex-col pt-[45%] w-full">
        <hr />
        <a
          class="block w-full pb-2 text-xl pl-[17%] py-5 pb-5 hover:bg-gray-600"
          href=""
          >All Products</a
        >
        <hr />
        <a
          class="block w-full pb-2 text-xl pl-[17%] py-5 pb-5 hover:bg-gray-600"
          href=""
          >Create new product</a
        >
        <hr />
      </div>
    </div>

    <div class="w-[75%] pt-8  flex flex-col">
      <div class="flex absolute right-[7%] gap-4 end">
        <a href="/shop" class="hover:text-red-400">Shop</a>
        <a href="/cart" class="hover:text-red-400">Cart</a>
        <a href="/owners/admin" class="hover:text-red-400">Admin</a>
        <a href="/users/logout" class="hover:text-red-400 text-red-700"
          >Logout
          </a
>
      </div>

      <div class="md:w-3/4 w-full bg-white md:p-8 py-8  md:mt-[5%] mt-[9%] ml-4">
      <h2 class="text-3xl font-bold mb-4">Create New Product</h2>
      <form
        autocomplete="off"
        action="/products/create"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-6">
          <h3 class="text-2xl font-semibold mb-2 pt-12">Product Details</h3>
          <div class="mb-4 mt-6">
            <label class="block mb-2 font-medium">Product Image</label>
            <input
              name="image"
              type="file"
              class="py-2 px-4 rounded bg-blue-300"
              value="Select File"
            />
          </div>
          <div class="grid grid-cols-2 gap-4">
            <input
              name="name"
              type="text"
              placeholder="Product Name"
              class="border p-2 rounded w-full border-black"
            />
            <input
              name="price"
              type="text"
              placeholder="Product Price"
              class="border p-2 rounded w-full border-black"
            />
            <input
              name="discount"
              type="text"
              placeholder="Discount Price"
              class="border p-2 rounded w-full border-black"
            />
          </div>
        </div>

        <div>
          <h3 class="text-2xl font-semibold mb-6 mt-10">Panel Details</h3>
          <div class="grid grid-cols-2 gap-4">
            <input
              name="bgcolor"
              type="text"
              placeholder="Background Color"
              class="border p-2 rounded w-full border-black"
            />
            <input
              name="panelcolor"
              type="text"
              placeholder="Panel Color"
              class="border p-2 rounded w-full border-black"
            />
            <input
              name="textcolor"
              type="text"
              placeholder="Text Color"
              class="border p-2 rounded w-full border-black"
            />
          </div>
        </div>
        <input
          class="px-5 py-2 rounded mt-6 bg-blue-500 text-white"
          type="submit"
          value="Create New Product"
        />
      </form>
    </div>
  </div>
    
  </div>
</div>
<%- include('./partials/footer') %>
